
.progress {
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.category {
  padding: 4px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
}

/* export type Category = "financial" | "health and well-being" | "work/projects" | "relationships" | "goals/progress"; */

.financial {
  background-color: #267239;
}

.health-and-well-being {
  background-color: #b32d00;
}

.work-projects {
  background-color: #8a6e00;
}

.relationships {
  background-color: #af4600;
}

.goals-progress {
  background-color: #0099cc;
}
