.avatar {
  width: 100px;
  display: flex;
  justify-content: end;
  flex-shrink: 0;
}

.message-wrapper {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.message p:first-child {
  margin-top: 0;
}

.role {
  padding: 4px 10px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  border: 1px solid;
}

.user {
  border-color: #5f7c10;
}

.assistant {
  border-color: #393bb3;
}

.chat-input {
  display: flex;
}

.chat-input textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: none;
  font-family: inherit;
}

.chat-input button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.progress {
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.category {
  padding: 4px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
}

/* export type Category = "financial" | "health and well-being" | "work/projects" | "relationships" | "goals/progress"; */
.financial {
  background-color: #267239;
}

.health-and-well-being {
  background-color: #b32d00;
}

.work-projects {
  background-color: #8a6e00;
}

.relationships {
  background-color: #af4600;
}

.goals-progress {
  background-color: #0099cc;
}